
html {
  height: 100%;
  width: 100%;
  display: table;
}

body {
  margin: 0 auto;
  text-align: center;
  background-color: #FBFBF9;
  background-size: cover;
  width: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  display: block;
  margin: 0;
  /* position: absolute; */
  /* top: 40%;
  left: 50%;
  transform: translate(-50%, -40%)   */
}

#game {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
}

#timer {
  display: flex;
  flex-direction: row;
}

.board {
  height: 480px;
  width: 480px;
  background-image: url("https://i.ibb.co/F3NpFYC/Mondrian-Sudoku-02.jpg");
  background-size: contain;
}

/* .board,.sudoku-section {
  display: grid;
  position: relative;
  grid-template-columns: auto auto auto;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);

} */

/* to toggle */
/* .sudoku-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 28px;
}  */

.tiles:hover {
  background-color: white; opacity: 0.2;
  /* cursor: pointer; */
  pointer-events: none;;
}

button:hover {
  cursor: pointer;
}


.board {
  display: grid;
  position: relative;
  grid-template-columns: auto auto auto;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(9, 1fr);
  font-size: 28px;
} 

.tile {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 28px;  
}

#win {
  height: 100%;
  width: 100%;
  background-color: rgb(0,0,0,.5);
}

#winBlock {
  background-color: white;
  display: block;
  margin: 0;
  padding: 24px 24px;
  max-width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)  
}

h2, h4, p {
  margin: 0;
  padding: 8px 0;
  text-align: left;
}

#records {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

